body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}

.nav {
    margin-top: 15px;
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-end;

}

.icono {
    position: absolute;
    left: 42%;
    top: 5%;
    width: 280px;
    height: 180px;
}

.icono-img {
    width: 230px;
    height: 130px;
    box-shadow: 3px 3px 3px;
}

.aleta-izq {
    position: absolute;
    z-index: -1;
    left: 65%;
    top: 0%;
    border-bottom: 80px solid rgb(36, 35, 35);
    border-left: 50px solid;
    border-right: 50px solid transparent;
    box-shadow: 0px 3px 0px;
}

.lord-icon {
    background: none;
    border: none;
    margin-right: 65px;
    margin-top: 10px;
    display: flex;
}

#contadorCarrito {
    color: #e4deda;
    font-size: larger;
    margin-right: 5px;
}

.portada {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 500px;
}

.portada .img {
    width: auto;
    height: 100%;
    border-radius: 12px 0px 0px 12px;
    border: 1px solid black;
}

.p-positions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 7px;
    margin-left: 7px;
}

.icono-portada {
    width: auto;
    height: 28px;
    margin-right: 4px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.buscador {
    border: 1px solid black;
    border-radius: 0px 12px 12px 0px;
    background-color: #DECEB3;
    color: rgb(19, 0, 3);
    width: 30%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Patrick Hand', cursive;
}

.buscador div {
    font-size: 23px;
    text-align: center;
}

.buscador p {
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 26px;
    margin-bottom: 10px;
}

.buscador input {
    width: 75%;
    margin-top: 0;
    text-align: center;
    height: 40px;
    margin-bottom: 25px;
}

.buscador input::placeholder {
    font-size: 1.2em;
    font-style: italic;
    background-image: url(./img/lupa.png);
    background-size: 23px;
    background-repeat: no-repeat;
    background-position-x: 95%;
}

.titulo {
    text-align: center;
    font-size: 1.9em;
    font-family: 'Patrick Hand', cursive;
}

.container-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    justify-content: center;
    align-items: center;
}

.card:hover {
    border: 0.5px solid #e00c61;
    transition: all 0.1s;
}

.card {
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 4px 10px;
    margin: 4px 2px;
    margin-bottom: 5px;
    background-color: #DECEB3;
    width: 200px;
    height: 450px;
}

.card img {
    width: 200px;
    height: 230px;
}

.card .titulos {
    text-align: center;
    font-size: 30px;
    margin: 2px;
    font-family: 'Patrick Hand', cursive;
    background-color: #b96c3b;
}

.cards-info {
    display: flex;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}

.card p {
    font-size: 20px;
}

.card button {
    border-radius: 4px;
    background-color: #c0987e;
    color: black;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 18px;
    text-align: center;
}

.card button:hover {
    background-color: #ca7540;
    color: #ccc;
    border: 2px solid #e4deda;
    transition: all 0.1s;
}


.modal-active {
    opacity: 1;
    visibility: visible;
}

.modal-carrito {
    position: relative;
    left: 25%;
    background-color: #c59062;
    width: 50%;
    height: 30%;
    padding: 20px;
    margin-top: -180%;
    transition: all .5s;
    border: 1.5px solid #2e1e10;
    border-radius: 18px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.modal-active .modal-carrito {
    margin-top: -85%;
}

.modal-carrito h3 {
    color: #2e1e10;
    padding-bottom: 5px;
    text-align: center;
    font-family: 'Patrick Hand', cursive;
}

.modal-carrito #carritoCerrar {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 20px;
    color: white;
    border: none;
    background-color: #c59062;
}

.modal-carrito #carritoCerrar:hover {
    cursor: pointer;
}

.modal-carrito #carritoCerrar:focus {
    outline: none;
}

.modal-carrito .precioProducto {
    color: rgb(10, 10, 10);
    font-weight: bold;
    padding-top: 10px;
}

#vaciar-carrito {
    background-color: #c59062;
}

#vaciar-carrito:hover {
    background-color: #6d3512;
    color: #ccc;
}

#confirmar {
    background-color: #c59062;
}

#confirmar:hover {
    background-color: #6d3512;
    color: #ccc;
}

.botones-carro {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
}

.contenido-carrito {
    padding: 10px;
    display: flex;
    justify-content: space-around;
    font-family: 'Patrick Hand', cursive;
}

.contenido-carrito img {
    width: 70px;
    height: 80px;
    border: 1px solid black;
}

.contenido-carrito .titulos {
    text-transform: uppercase;
    margin: 15px 15px;
    font-size: 25px;
}

.contenido-carrito .cards-info {
    display: flex;
    text-align: start;
    flex-direction: column;
}

.contenido-carrito .cards-info p {
    margin: 5px 12px 1px 12px;
}

.boton-eliminar {
    background-color: #c59062;
    border: none
}

.boton-eliminar img {
    margin-right: 15px;
    border: none;
    width: 45px;
    height: 45px;
}

.mensaje {
    position: absolute;
    width: 100px;
    text-align: center;
    z-index: 1;
    background-color: #ee5e05;
    margin: 6px;
    font-size: 20px;
    text-transform: capitalize;
    color: #ffffff;
    border-radius: 6px;
}